body{
    background-color: black;
}

.ui-body-c, .ui-overlay-c { background:#000; }

header{
    color: white;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*#radios{
    align-content: space-around;
    min-width: 20em;
    min-height: 3em;
    max-height: 75%;
    overflow: auto;
}*/

.listenRadio{
    color: #8a6da3;
    font-weight: bold;
    cursor: pointer;
    width: 10%;
    min-width: 200px;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(235, 235, 245, 0.97);
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    float:left;
}

.listenRadio:hover{
    background-color: rgba(150, 150, 155, 0.50);
}

.listenRadio[data-selected="true"]{
    background-color: rgba(240,140,140,0.97);
}

.listenRadio[data-selected="true"]:hover{
    background-color: rgba(245,130,130,0.97);
}

#player{
    bottom: 0px;
    display: block;
    position: absolute;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
}

#player .controller{
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

#player img{
    width: 50px;
    height: 50px;
}

#player img[data-background="darkGray"]{
    background-color: #666;
    border-radius: 15px;
}

#player img[data-background="darkGray"]:hover{
    background-color: #999;
    border-radius: 15px;
}

#metadata{
    margin-top: 15px;
    color: white;
    max-width: 500px;
}

/* History panel */
.historySong{
    display: block;
    width: 230px;
    font-size: 1em;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(150,110,110,0.8);
}

.historySongTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
    font-size: 1.4em;
}

.historySongYoutubeWrapper img{
    width: 25px;
    cursor: pointer;
}

.historyInnerElem{
    float:left;
    margin-right: 5px;
}

/** JQUERY MOBILE FIXES **/

.ui-panel {
    position:fixed;
    height: 100vh;
    overflow-y: auto;
}

.ui-panel-dismiss-display-overlay{
    height: 100vh !important;
}